#rightColumn{

}
.adminLink{
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
}
.adminLink:hover{
    color: lightgray;
}
.add_product_button{
    margin-top: 50px;
}
.addProductHeading{
    margin-top: 50px;
    color: #8c96cc;
   text-align: center;
}
.hr{
    height: 4px;
    width: 40px;
    background-color:#3F51B5;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -18px;
    margin-bottom: 70px;
}
.add_product_form{
    margin-left: 30px;
}
.input_box_addProduct{
    width: 300px;
    height: 35px;
    border: none;
    background-color: #8C96CC;
    color: white;
    border-radius: 5px;
}
.ProductName_wight,.add_product_upload_product{
    display: flex;
}
.product_pic,.Product_wight{
    margin-left: 60px;
}
.submit_button,.reset_button,.upload_product_pic{
    background-color: #8C96CC;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}
.reset_button{
    margin-left: 20px;
}