.checkout_card {
    max-width: 800px;
    height: 270px;
    margin: 0 auto;
  }
  .checkout_page{
      margin-top: 100px;
  }
  .effect1 {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    border-radius: 5px;
  }


  .checkout_card_content{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  
  .hr_checkout{
      width: 600px;
      margin-top:-17px;
  }
  .hr_checkout2{
      width: 600px;
      margin-top:10px;
  }
  .checkout_hading{
    margin-top: 50px;
    color: #8c96cc;
   text-align: center;
}
.checkout_hr{
    height: 4px;
    width: 40px;
    background-color:#3F51B5;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -18px;
    margin-bottom: 70px;
}